<div class="container">
  <header><img src="images/bird_on_laptop.jpg" class="img-responsive main-image"></header>
  <div>
    <h1 style="color: #3CA4F4; font-size:34px">Welcome to My Bird Guide</h1>

    <div>
      <br>
      <p><b>Login into Account: <a href="/login"> CLICK HERE </a></b> </p>
      <p> </p>
      <p><b>Create an Account: <a href="/create_account"> CLICK HERE </a></b> </p>

      <p></p>
      <%# <p><b><a href="/logout"> LOG OUT </a></b> </p> %>
    </div>

  </div>
</div>
