<h1 style="color: #3CA4F4; font-size:28px">Log into your Account</h1>

<form action="/login" method="POST">

    <label for="username"><b> Username: </b></label>
    </br>
    <input type="text" name="username" id="username" />
    </br>

    <label for="password"><b> Password: </b><label>
    </br>
    <input type="password" name="password" id="password" />
    </br>

    <p></p>
    <input type="submit" id="Create Account" />
    
    <p></p>
    <p><b><a href="/logout"> Return to Welcome Page </a></b> </p>
</form>

<%if @errors %>
    <h2 style="color: #900C3F;"><%= @errors %></h2>
<%end%>
