<h1 style="color: #3CA4F4; font-size:28px">Your Bird Guide</h1>
<h2>Welcome <%= @current_account.username %> </h2>

<h3>Your Bird Guide List</h3>

<ul>
    <%if @guides.size > 0 %>
        <% @guides.each do |guide| %>
            <% if guide.user_id == @current_account.id %>
            <li><a href="/guides/<%= guide.id %>"><%= guide.bird %> from <%= guide.date %></li>
            </br>
            <% end %>
        <% end %>
        <a href="/guides/new">Add a Bird to your Guide</a>
    <% else %>
        <p>No birds have been recorded. <a href="/guides/new">Add your first bird HERE</a></p>
    <% end %>
</ul>         
        
